<mat-card *ngFor="let q of quizzes" class="mt20">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            {{q.title}}  
        </mat-card-title>
        <mat-card-subtitle>
            {{q.category.title}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{q.description}}
    </mat-card-content>
    <mat-card-actions>

        <button mat-raised-button color="primary">
            Question
        </button>

        <button mat-stroked-button color="primary" class="ml20">
            Max Mark {{q.maxMarks}}
        </button>

        <button mat-raised-button color="primary" class="ml20">
            Total Chosen Question : {{q.numberOfQuestions}}
        </button>

        <button mat-raised-button color="primary" class="mr20 ml20">
            Update
        </button>

        <button mat-raised-button color="primary">
            Attempts
        </button>

        <button mat button class="mr20 ml20 color-pink" (click)="deleteQuiz(q.qid)">
            Delete
        </button>

    </mat-card-actions>
    
</mat-card>

<div class="container text-center mt20" >
    <button routerLink="/admin/add-quiz" mat button class="color-pink" >Add Quiz</button>
</div>