<mat-card>
    <mat-list>
        <h1 class="text-center">All Categories</h1>
        <mat-list-item *ngFor="let c of categories" class="custom-list-item">
            <mat-icon mat-list-icon class="folder">category</mat-icon>
            <div class="custom-list-item" class="c">{{c.title}}
<mat-divider></mat-divider>
            </div>

            <!-- <div  class="ml100" class="d" >{{c.description}}

            </div> -->

        </mat-list-item>


    </mat-list>

    <div class="container text-center mt20 mb20 ">
        <button class="color-blue width">Add New Card</button>
    </div>
</mat-card>