<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <a routerLink="/admin" mat-list-item><mat-icon  class="mr20"> home </mat-icon>Home</a>

        <a mat-list-item routerLink="/admin/profile"><mat-icon mat-list-icon class="mr20"> account_circle </mat-icon>Profile</a>
        <a mat-list-item routerLink="/admin/view-categories"><mat-icon mat-list-icon class="mr20"> list </mat-icon>Categories</a>
        <a mat-list-item routerLink="/admin/add-categories"><mat-icon mat-list-icon class="mr20"> add_circle_outline </mat-icon>Add Categories</a>
        <a mat-list-item routerLink="/admin/profile"><mat-icon mat-list-icon class="mr20"> quiz </mat-icon>Add Quizzes</a>
        <a mat-list-item routerLink="/admin/profile"><mat-icon mat-list-icon class="mr20"> logout </mat-icon>Logout</a>

    </mat-action-list>
</mat-card>